/nbproject/private/
/application.zip
/js.rar
/license.txt
/ukulima_db.sql
/images.rar
/google7ae54bd8704fc2a0.html
/error_log
/_test_index.html
/application/config/oauth_resource_server.php
/application/config/oauth_client.php
/application/controllers/data/
/user_guide/
/test/
/temp-back/
/app/
/ukulima-feedback/