/application/config/redux_auth.php.new
/application/config/rest.php
/application/config/oauth_client.php
/application/config/oauth_resource_server.php
/application/libraries/Oauth_auth_server.php
/application/libraries/Oauth_client.php
/application/libraries/Oauth_resource_server.php