#order deny,allow
#deny from all

#allow from 41.215.55.250
#allow from 41.72.207.150
#allow from 197.177.28.44
#allow from 41.212.101.47
#allow from 41.212.108.141
#allow from 41.80.184.223
#allow from 41.212.11.75
#allow from 41.212.121.98
#allow from 196.201.208.15

RewriteEngine on
RewriteBase /test
RewriteCond $1 !^(index\.php|includes|robots\.txt|fonts|assets|user_guide|javascript|avatar)
RewriteRule ^(.*)$ index.php?/$1 [L]
