#order deny,allow
#deny from all


RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|includes|robots\.txt|fonts|assets|user_guide|javascript|avatar|app)
RewriteRule ^(.*)$ index.php?/$1 [L]
